.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #f0f0f0;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .header h1 {
    margin: 0;
  }
  
  .logoutButton {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .logoutButton:hover {
    background-color: #0056b3;
  }
  
  .content {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  
  .weather, .horoscope {
    width: 45%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }
  
  .weather h2, .horoscope h2 {
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }


.weatherTitle {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.weatherText {
    color: #666;
    margin-bottom: 15px;
    text-align: center;
}

.weatherIcon {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.weatherTemperature {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}
.iconContainer{
    display: flex;
    justify-content: center;
}
  