.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.signupBox {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.signupBox h1 {
    margin-bottom: 20px;
}

.signupBox input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.signupBox button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.signupBox button:hover {
    background-color: #0056b3;
}
/* HomePage.module.css */

.signSelection {
    margin-bottom: 20px;
  }
  
  .signLabel {
    font-size: 1.2rem;
    font-weight: bold;
    margin-right: 10px;
  }
  
  .signSelect {
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
